*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;

}
.elemetns{
    width: 100%;
    height: auto;
    padding: 7px;
    display: grid;
    grid-template-columns: 250px 1fr 250px;
    grid-template-rows: 70px auto 70px;
    grid-gap: 10px ;
    border:1px solid red;
}
.elem1, .elem2, .elem3, .elem4{
    overflow: hidden;
    border:2px solid green;
    border-radius: 12px;
    background-color: rgb(183, 200, 183)
}
.elem1, .elem4 {
    grid-column-start: 1;
    grid-column-end: 4;
    color:green;
    display: flex;
    justify-content: center;
    align-items: center;  
}
.elem1{
    position: sticky;
    top:0
    
}
.ex1 div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ex1, .ex2, .ex3, .ex4{
    width: 100%;
    padding: 10px;
    height: auto;
    display: grid;
    border:1px solid rgb(14, 245, 26);
    background-color: white;
}

/*ex1*/

.ex1-1{
    background-color: #00BBEB;
    
}

.ex1{
grid-template-columns: repeat(12, 1fr);
grid-template-rows: 90px repeat(3, 50px);
grid-gap: 12px;
}
.ex1-1:nth-child(1){
    grid-column-start: 1;
    grid-column-end: 13;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    color:white;
}
.ex1-1:nth-child(2){
    grid-column-start: 1;
    grid-column-end: 7; 
}
.ex1-1:nth-child(3){
    grid-column-start: 7;
    grid-column-end: 13; 
}
.ex1-1:nth-child(4){
    grid-column-start: 1;
    grid-column-end: 5; 
}
.ex1-1:nth-child(5){
    grid-column-start:5;
    grid-column-end: 9; 
}
.ex1-1:nth-child(6){
    grid-column-start:9;
    grid-column-end: 13; 
}
.ex1-1:nth-child(7){
    grid-column-start:1;
    grid-column-end: 4; 
}
.ex1-1:nth-child(8){
    grid-column-start:4;
    grid-column-end: 7; 
}
.ex1-1:nth-child(9){
    grid-column-start:7;
    grid-column-end: 10; 
}
.ex1-1:nth-child(10){
    grid-column-start:10;
    grid-column-end: 13; 
}



/*ex2*/
.ex2{
    grid-template-columns: repeat(3,70px);
    grid-template-rows: repeat(3,70px);
    grid-gap:15px 10px;
}
.ex2 div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ex2-1{
    background-color: #F89427;
    border:1px solid black;
    border-radius: 7px;
    box-shadow: 5px 5px 5px gray;
}

/*ex3*/
.ex3{
    grid-template-columns: 300px 100px 100px;
    grid-template-rows: repeat(3 100px);
}
.ex3 div{
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}


.ex3-1:nth-child(1),
.ex3-1:nth-child(4){
    background-color: #F89327;
    grid-column-start: 1;
    grid-column-end: 4;
}
.ex3-1:nth-child(2){
    background-color: #3EBDE8;
    grid-column-start: 1;
    grid-column-end: 2;
}
.ex3-1:nth-child(3){
    background-color: #ED7372;
    grid-column-start: 3;
    grid-column-end: 4;
}
.ex3-1:nth-child(4){
    background-color:#74C576;
}
/*ex4*/
.ex4{
    display: grid;
    grid-template-columns: repeat(2, 400px) ;
    grid-template-rows: repeat(3, 80px);
    grid-gap: 10px;
}
.ex4-1{
    display: flex;
    justify-content: center;
    align-items: center;
    color:white
}
.ex4-1:nth-child(1),
.ex4-1:nth-child(4){
    background-color: #4DBEDE;
    grid-column-start: 1;
    grid-column-end: 3;
}
.ex4-1:nth-child(2){
    background-color: #ADB4E9;
    grid-column-start: 1;
    grid-column-end: 2;
}
.ex4-1:nth-child(4){
    background-color:#DE7BDB;
}
.ex4-1:nth-child(3){
    background-color:#ED76CE ;
}



